.footer__column-link {
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
