.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    /* parameters for the header section */
}

.logo {
    z-index: 2;
}

.header__logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.logo__image {
    width: 154px;
    height: 31px;
}

.header__title {
    width: 730px;
    margin-left: 64px;
    align-self: center;
    z-index: 2;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__title_text {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header__subtitle {
    width: 388px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 64px;
}

.header__subtitle_text {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__main-illustration {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header__main-illustration_size {
    width: 756px;
    height: 608px;
}


/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.description {
    padding-top: 100px;
}

.two-columns {
    width: 80%;
    min-width: 784px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
}

.two-columns__brief_text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
}

.two-columns__maintext {
    flex-direction: column;
    width: 80%;
}

.two-columns__paragraph {
    margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
    margin: 0;
}

.two-columns__paragraph_text {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.section-title {
    width: 60%;
    text-align: center;
    line-height: 69px;
}

.section-title_digits_margin {
    margin-bottom: 20px;
}

.section-subtitle {
    width: 60%;
    text-align: center;
    line-height: 34px;
}

.table {
    list-style: none;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
    line-height: 1.15;
}

.section-title__text {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.section-subtitle__text {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.table__heading {
    font-size: 24px;
    font-weight: bold;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__text_separate-string {
    margin-top: 20px;
}

.feynman {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 790px;
    position: relative;
    background-color: #f2f2f2;
    padding-top: 100px;
    box-sizing: border-box;
}

.feynman__title {
    width: 775px;
    line-height: 1.15;
    z-index: 1;
}

.feynman__title_text {
    margin: 0;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle {
    margin-top: 70px;
    line-height: 51px;
    z-index: 1;
}

.feynman__subtitle_text {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
}

.feynman__link_text {
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}

.feynman__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    background-image: url(../images/feynman.png);
}


/* including elements with key-value modifiers */

.kaufman {
    box-sizing: border-box;
    padding: 90px 0;
    background-color: #1f1f1f;
    position: relative;
    z-index: -2;
}

.table_theme_dark {
    width: 1100px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
    width: 60%;
    color: white;
    margin: auto;
}

.section-title_theme_dark {
    margin-bottom: 20px;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 2;
}

.kaufman__triangle {
    width: 600px;
    height: 636px;
    background-image: url(../images/kaufman-triangle.svg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.footer {
    min-height: 350px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
}

.footer__columns {
    display: flex;
    margin: auto;
    width: 90%;
    min-height: 250px;
    color: white;
    justify-content: space-between;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__author {
    padding: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-heading {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__column-link {
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__social-logo {
    margin-right: 10px;
}

.footer__column-link_wrapper_nonstyle {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
