.khan__book-pic {
    height: 620px;
    width: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top;
    vertical-align: bottom;
    /** Use vertical-align because i have small space between image and bottom of khan__book-container element, it take 623px height somehow, that way all work correct **/
}
