.khan__book-pic {
    max-width: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top;
    /** without that rule object-fit at __book-pik didnt work
    i realised it with 2 ways, but your way, as you comment in review didnt work **/
}
